* {
    font-family: "Helvetica neue";
    font-family: "Inter";
    font-optical-sizing: auto;  
    font-style: normal;
    color: white;
    padding: 0 0;
    margin: 0 0;
    
}

body{
        width: 100%;
    background: rgb(0, 0, 0);
    /* background: radial-gradient(circle,rgba(5, 9, 71, 1) 0%, rgba(64, 45, 102, 1) 50%, rgba(108, 16, 120, 1) 100%); */
}

a, a:visited {
    text-decoration: none;
}

header{ 
    position: absolute;
    padding: 0 0;
    margin: 0 0;
    width: 100%;
    backdrop-filter: blur(13px);
    background: rgba(0, 0, 0, .6);
    position: fixed;
    z-index: 9;
}

    .header_container{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .header_nav ul{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        margin: 10px;
    }

    .header_nav ul li{
        display: inline-block;
        list-style: none;
    }

    .header_nav ul li a{
        display: inline-block;
        padding: 10px;
        margin: auto 50px;
        list-style: none;
        
    }
    
            .header-button{
                
                padding: 0 auto;
                display: inline-block;
                border-radius: 5px;
                background: linear-gradient(265deg ,rgba(161, 69, 189, 0.8)-1.44%, rgba(55, 0,-89, 0.8)77.83%), #000000;
            }

            .header-button a{
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 14pt;  
                             
            }
            div.logo span{
                display: flex;
                justify-content: space-around;
                word-wrap: wrap;
                font-family: "Inter", sans-serif;
                font-size: 13px; 
                      
            }
            
            
            div.logo span strong{
                
                font-family: "Inter", sans-serif;
                    font-size: 36px;
                    font-weight: 800;
            }
            
            div.logo span a{
                font-family: "Helvetica neue", sans-serif;
                font-size: 36px;
                font-weight: 800;
                background-image: linear-gradient(265.71deg ,rgba(161, 69, 189, 0.8)-1.44%, rgba(55, 0,-89, 0.8)77.83%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                
                
            }
          

  
main{
    
    /* display: inline-block; */
    padding: 0 auto;
    margin: 0 auto;
}

.hero {
    background-size: cover;
    /* background-image: url(../assets/images/hero_bg.png); */
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    /* background: green; */
    display: inline-block;
    text-align: center;
}

.hero_block {
    
    width: 50%;
    display: inline-block;
    position: relative;
    text-align: left;
    /* background: yellow; */
}

    .hero_titel{
        width: 55%;
        font-family: "Helvetica neue", sans-serif;
        font-size: 76px;
        margin-bottom: 5px;
    }

    .hero_block span, .hero_block a.button {
        width: 100%;
        display: inline-block;
        text-align: left;
        /* background: yellow; */
    }


        .hero_block a.button {
            font-family: "Helvetica neue";
            margin-bottom: 250px;
            display: inline-block;
            width: 250px;
            background: linear-gradient(265deg ,rgba(161, 69, 189, 0.8)-1.44%, rgba(55, 0,-89, 0.8)77.83%), #000000;
            text-align: center;
            
            line-height: 300%;
            font-weight: 500;
        }


        .hero_block span{
            font-family: "Helvetica neue", sans-serif;
            font-size: 22px;
            font-weight: 200;
            padding-bottom: 120px;
        }

        .hero_block span.hero_subtitel{
            font-family: "Helvetica neue", sans-serif;
            font-size: 22px;
            font-weight: 100;
            width: 55%;
        }



.hero_img {

    position: absolute;
    right: 100px;
    width: 600px;
    
    /* background: yellow; */
}

.hero_bg {
    width: 100%;
    height: 100%;
    margin-top:-100px;
    margin-left: -955px;
    position: absolute;
}




.etaps {
    margin-top: 10%;
    display: flex;
    width: 100%;
    text-align: center;
}

.logo_etaps {
    margin: 0 auto;
    width: 45%;   
}

.logo_etaps div {
    margin-bottom: 25px;  
}


.logo_etaps .slogan{
    width: 35%;
    justify-content: space-around;
    word-wrap: wrap;
    font-family: "Helvetica neue", sans-serif;
    font-size: 56px;
    font-weight: 700;
     
      
}

.logo_etaps strong{
    font-size: 46px;
    font-weight: 550; 
    font-family: "Helvetica neue", sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);  
      
}

.slogan_opisanie{
    width: 35%;
    justify-content: space-around;
    word-wrap: wrap;
    font-family: "Helvetica neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
     
      
}

.gallery img.test_bg{
    width: 100% ;
    height: 200%;
    margin-top: -500px;
    position: absolute;
    z-index: -1;
}






.gallery .wrapper {
    margin: 0  auto;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 110px;
    grid-column-gap: 10px; 
    grid-row-gap: 10px; 
    
    
}

.gallery-box {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    overflow: hidden;
    padding: 15px;
    }

.gallery-box .box_number {
    /* font-family: "Inter", sans-serif; */
    font-family: "Helvetica neue", sans-serif;
    font-size: 76px;
    font-weight: 800;
    
    }




 .box2, .box4, .box5, .box7 {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: start; */
}


.box1, .box3, .box6 {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center;
    align-items: start; */
}


    

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

        .box1_div {
        display: flex;
        flex-wrap: wrap;
        
        }

        .box1_div h2, .box1_div p {
        display: flex;
        flex-wrap: wrap;
        
        }

            .box1 img {
            flex-wrap: wrap;
            width: 60%; 
            margin-left: 15%;       
            }



.box2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 6;
}

.box3 {
    
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

.box4 {
    
    
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
}

.box5 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 8;
}

.box6 {
    
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 9;
}

.box7 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 8;
    grid-row-end: 10;
}

/* --------------------------------asdas */

 .gallery_2   {
    margin: 0  auto;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 210px;
    grid-column-gap: 10px; 
    grid-row-gap: 10px; 
    
    
}

.gallery2-box {
    display: inline-block;
    align-items: center;
    background: rgba(204, 34, 34, 0.3);
    border-radius: 30px;
    overflow: hidden;
    padding: 15px;
    }

.box12 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

.box22 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.box22 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.box32 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.box42 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box52 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}







.test_flex{
   
    padding-top: 5%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    /* background-image: url(../assets/images/hero_bg.png);
    background-size: contain; */
    

}
.test_flex img.test_bg{
    width: 100% ;
    height: 100%;
    /* object-fit: cover; */
    position: absolute;
    z-index: -1;
    /* visibility: hidden; */
}



.test_titel{
    width: 30%;
    display: block;
    
}

.test_img{
    width: 40%;
}

.test_img img{
    margin-left: 150px;
    width: 80%;
}

.test_titel p{
    margin-top: 30px;
}

.test_titel h1.test_h1_titel{
    width: 100%;
    font-family: "Helvetica neue", sans-serif;
    font-size: 76px;
    /* margin-bottom: 5px; */
}

.test_titel .test_subtitel{
    width: 55%;
    font-family: "Helvetica neue", sans-serif;
    font-size: 16px;
    /* margin-bottom: 5px; */
}

.test_titel p.test_button{
    margin-top: 40px;
    margin-bottom: 150px;
  
    font-family: "Helvetica neue";

    display: inline-block;
    width: 250px;
    background: linear-gradient(265deg ,rgba(161, 69, 189, 0.8)-1.44%, rgba(55, 0,-89, 0.8)77.83%), #000000;
    text-align: center;

    line-height: 300%;
    font-weight: 500;
}



.gallery_2{

}































@media screen and (min-width:350px) and (max-width: 980px) {
    .test_flex{
    display: block;  
    }


.test_titel{
   
        padding-top: 110px;
        width: 100%;
        display: block;
    }


.test_titel h1.test_h1_titel{
    text-align: left;
    width: 55%;
    font-size: 26px;
    /* margin-bottom: 5px; */
}

.test_titel .test_subtitel{
    width: 75%;
    font-size: 16px;
  
}

.test_img {
    margin-left: 185px;
    width: 50%;
    margin-right: 0;
}

.test_titel p.test_button{
    margin-top: 40px;
    
}


.test_titel p{
    margin-top: 10px;
}


}