
/* -----------------------------------to all site----------------------------------- */

* {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
}

body{
    padding: 0 0;
    margin: 0 0;
    background: #2A7B9B;
    background: -webkit-linear-gradient(to right, rgb(19, 57, 71) 0%, rgb(26, 58, 40) 50%, rgb(22, 53, 39) 100%);
    background: linear-gradient(to right, rgb(19, 57, 71) 0%, rgb(26, 58, 40) 50%, rgb(22, 53, 39) 100%);
}

h2 {
    color: rgb(229 , 14, 114);
    font-size: 40pt;
    font-weight: 800;
}

/* -----------------------------------main block----------------------------------- */

main {
    text-align: justify;
    padding: 15px;
    margin: auto;
    width: 80%;
   
}

header {
    display: inline-block;
    text-align: center;
    padding: 0 0;
    margin: 0 0;
    width: 100%;
    background: rgba(54, 54, 54, 0.797);
}

footer {
    display: inline-block;
    /* text-align: center; */
    padding: 0 0;
    margin: 0 0;
    width: 100%;
    background: rgb(54, 54, 54);
}

.logic-block {
    padding: 10px 0;
}

.container, .logo, nav, .header-button{
    display: inline-block;
}

.header-button{
    background: rgb(168, 239, 16);
    padding: 10px;
    
    display: inline-block;
    border-radius: 5px;
}

.header-button a{
    text-decoration: none;
    color: black;
    font-size: 14pt;
}


/* -----------------------------------menu----------------------------------- */

nav {
    padding-right: 10px;
}


nav ul li {
    background: rgb(198, 205, 183);
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 14pt;
    
}



/* -----------------------------------block----------------------------------- */




p{
    line-height: 140%;
}

.logo {
    color: rgb(113, 227, 113);
    font-size: 20pt;
}


h2, p
{
    margin: 0;
}

/* -----------------------------------block to form----------------------------------- */


.zayavka, label, select, input, textarea{
    display: block;
    
}

.zayavka, input, textarea, select, fieldset {
    margin-bottom: 5px;
    font-size: 14pt;
}

fieldset input {
    display: inline-block;
}


section.form {
 
    padding: 15px;
   
    display: inline-block;
    
    /* margin-left: 25%; */
    width: 40%;
    height: AUTO;
}




/* -----------------------------------section one hero and main_titel----------------------------------- */

.hero {
    width: 40vw;
    font-size: 20pt;
    text-align: left;
}


.main_titel strong {

    font-weight: 400;
    color: rgb(229 , 14, 114);
}

.main_titel {
    font-size: 50pt;
    font-weight: 800;
    line-height: 100%;
}

/* -----------------------------------section two Вакансии----------------------------------- */

#vac{
    width: 45vw;
}

#vac ul{
  padding: 0;
}


#vac ul li{
    border-radius: 40px;
    padding: 20px 30px;
    margin: 0 10px 10px 0;
    background: rgb(23, 203, 235);
    display: inline-block;
    list-style: none;
    font-size: 1.6rem;
}

/* -----------------------------------style table----------------------------------- */

/* th{
    background: blue;
}
td{
    background: rgb(216, 179, 11);
} */

.big_table {
    text-align: center;
}

.big_table td{
    padding: 15px;
    text-align: center;
}

.big_table tr:nth-child(2n){
    background: rgb(62, 127, 202);
}

.big_table tr:nth-child(2n) td:last-child{
    border-radius: 0 30px 30px 0;
    
}

.big_table tr:nth-child(2n) td{
 
    border-bottom: 2px solid white;
}